.footer-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: black;
  min-height: 40vh;;
}

.footer-wrapper img {
  z-index: 2;
  margin-top:6rem;
}

.menu-again {
  color:white;
  padding:2rem;
  font-family: 'Open Sans' ,sans-serif;
  margin-bottom:2rem;
}
.menu-again li {
  padding-right:4rem;
}

.social {
  padding:2rem;
}
.social img {
  margin-top:2rem;
  width:30px;
  margin:20px;
}

.social .facebook-icon {
  width:20px;
}

.footer-elements {
  color:white;
  padding:4rem;
}

@media(max-width:740px) {
  .menu-again {
    margin:0;
    padding:1rem;
  }
  .menu-again li{
    padding:0.2rem;
    margin:0.2rem;
  }
  .footer-wrapper img{
    margin-top:2rem;
    width:60px;
  }
  .social{
    padding:0rem;
  }
  .footer-elements{
    padding:1.5rem;
    font-size: 0.2rem;;
  }
  .social img {
    width:20px;
  }
}