.footer-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: black;
  min-height: 40vh;;
}

.menu-again {
  color:white;
  padding:2rem;
  font-family: 'Open Sans' ,sans-serif;
}
.menu-again li {
  padding-right:8rem;
}

.social {
  padding:2rem;
}
.social img {
  width:30px;
  margin:30px;
}

.social .facebook-icon {
  width:20px;
}

.footer-elements {
  color:white;
  padding:4rem;
}