menu {
  display:grid;
  grid-template-columns: 1fr 100px 1fr 220px;
  font-family:'Open Sans';
  
}

img {
  width:120px;
  grid-column:1/2;
  margin:25px 60px;
}

ul{
  display:flex;
  align-items:center;
  justify-content: flex-end;
  grid-column: 3/4;
  list-style-type:none;
  margin-bottom: 0 !important;;
  
}

li {
  margin-left:38px;
}

.menu-button {
  font-family:'Open Sans';
  grid-column:4/5 ;
  width:150px;
  height:50px;
  margin:25px 60px;
  border-radius:30px;
  justify-self:end;
  margin-right:60px;
  background: white;
  transition:ease 300ms

}

.menu-button:hover {
  background-color: black;
  color:white;
  transform: scale(0.8);
}

@media(max-width:1040px) {
  menu {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto;
  }
  img {
    width:80px;
    margin:5px;
    padding:0;
    padding-top:1.2rem;
  }
  .menu-button{
    width:100px;
    margin:15px 30px;
  }
}

@media(max-width:720px) {
  img {
    width:60px;
    margin:5px 10px;
    padding:0;
    padding-top:1rem;
  }
  .menu-button{
    width:80px;
    height:35px;
    margin:15px 30px;
    font-size:0.7rem;
  }
  li {
    font-size:0.8rem;
    
    margin-left:28px;
  }
  
}

@media(max-width:580px) {
  img {
    width:35px;
    /* margin:5px 10px; */
    padding:0;
    padding-top:1.2rem;
  }
  li {
    font-size:0.4rem;
    
    margin-left:28px;
  }
  .menu-button{
    width:60px;
    height:25px;
    /* margin:15px 30px; */
    font-size:0.5rem;
  }
}
