.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  display:flex;
  align-items: center;
  font-family: 'Open Sans';
  font-size: larger;
  text-transform: uppercase;
  min-height:20vh;
  letter-spacing: 6.5px;;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 20vh;
  padding: 0rem 1rem;
}

.services-box{
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 40px 20px 1fr;
  place-items: center;
  /* justify-self: center; */
  text-align: center;
  padding:0rem 1rem;
}

.services-box p {
  font-size: 1.1rem;
  line-height: 2.2rem;
  letter-spacing:2px;
  justify-self: start;
  color:#8C9398;
  
}

.services-box h4 {
  font-size: larger;
  text-transform: uppercase;
  font-weight: 400;
}

.services-box img {
  width:180px;
}

.services-box > .divider {
  width:50px;
}